<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
	<title>Spots Post</title>
</head>
<body>
	<nav>
		<a href="/spots"><h1>Cheap Spots</h1></a>
		<div>
			<a href="/spots"><h1>Home</h1></a>
			<a href="/spots/new"><h1 >Add Spot</h1></a>
		</div>
	</nav>

	<section class="first">
		<div>
			<h2>Spots Post</h2>
			<p>Find your spot on a budget</p>
		</div>
	</section>
	<div class="post">
		<h1>The Spot</h1>
		<h2><%=spots.spot%></h2>
		<p>Muncher: <%=spots.name%></p>
		<p>Address: <%=spots.address%></p>
		<p>Rating: <%=spots.rating%></p>
		<a href="/spots/<%=spots.id%>/edit">Edit...</a>
		</div>
		<div class="actions">
			<form action="/spots/<%=spots.id%>?_method=DELETE" method="POST">
				<input type="submit" value="DELETE">
			</form>
			
	</div>
</body>
</html>